github "heyalexchoi/AutolayoutExtensions" ~> 1.0
github "ashleymills/Reachability.swift" ~> 5.0.0
github "Alamofire/Alamofire" ~> 5.2.1
github "SwiftyJSON/SwiftyJSON" ~> 5.0.0
github "mxcl/PromiseKit" ~> 6.13.0
